@import "./vars";

// Global container of whole page
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.dark-theme {
  --font-color: white;
  --bg-color: #b0a565;
  --gray-one-color: #303030;
  --gray-two-color: #535353;
  --gray-three-color: #7d7d7d;
  --orange-color: #ff9b0a;
}

.light-theme {
  --font-color: black;
  --bg-color: #f7f3d1;
  --gray-one-color: #f4f4f4;
  --gray-two-color: #d8d8d8;
  --gray-three-color: #aeaeae;
  --orange-color: #ffac1b;
}

.active-operation-btn {
  color: var(--orange-color) !important;
  background-color: var(--font-color) !important;
}

// Default settings of headlines, you only need to choose font size, line height and text color
@mixin default-h($font-size, $line-height, $text-color) {
  padding: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}

// Default settings of paragraphs, you only need to choose font size, line height and text color
@mixin default-p($font-size, $line-height, $text-color) {
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}
