@import "../global/vars";
@import "../global/template";
@import "../global/header";
@import "../global/footer";

.calculator {
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  background-color: var(--gray-one-color);
  border-radius: 20px;
  box-shadow: 0 0 20px black;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "value        value         value     value"
    "clean        sign-change   percent   division"
    "seven        eight         nine      mult"
    "four         five          six       minus"
    "one          two           three     plus"
    "null-digit   null-digit    comma     calc";
  &__value {
    border-radius: 10px 10px 0 0;
    grid-area: value;
    padding: 10px 20px;
    font-family: "Roboto";
    font-size: 56px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--font-color);
    align-self: center;
    text-align: end;
    @media (max-width: $phone-l) {
      padding: 8px 10px;
      font-size: 42px;
    }
  }
  .spec-operation-btn {
    background-color: var(--gray-two-color);
  }
  .basic-operation-btn {
    background-color: var(--orange-color);
  }
  .digit-btn {
    background-color: var(--gray-three-color);
  }
  &__clean-btn {
    grid-area: clean;
  }
  &__sign-change-btn {
    grid-area: sign-change;
  }
  &__percent-btn {
    grid-area: percent;
  }
  &__division-btn {
    grid-area: division;
  }
  &__seven-btn {
    grid-area: seven;
  }
  &__eight-btn {
    grid-area: eight;
  }
  &__nine-btn {
    grid-area: nine;
  }
  &__mult-btn {
    grid-area: mult;
  }
  &__four-btn {
    grid-area: four;
  }
  &__five-btn {
    grid-area: five;
  }
  &__six-btn {
    grid-area: six;
  }
  &__minus-btn {
    grid-area: minus;
  }
  &__one-btn {
    grid-area: one;
  }
  &__two-btn {
    grid-area: two;
  }
  &__three-btn {
    grid-area: three;
  }
  &__plus-btn {
    grid-area: plus;
  }
  &__null-btn {
    grid-area: null-digit;
    border-radius: 0 0 0 10px;
  }
  &__comma-btn {
    grid-area: comma;
  }
  &__calc-btn {
    grid-area: calc;
    border-radius: 0 0 10px 0;
  }
  button {
    font-family: "Roboto";
    font-size: 42px;
    color: var(--font-color);
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      filter: brightness(120%);
    }
    @media (max-width: $phone-l) {
      font-size: 36px;
    }
  }
}

.main {
  flex-grow: 1;
  display: flex;
  background-color: var(--bg-color);
  &__container {
    padding: 20px 40px;
    flex-grow: 1;
    @media (max-width: $laptop-l) {
      padding-inline: 20px;
    }
  }
}
