@import "../global/vars";
@import "../global/template";
@import "../global/header";
@import "../global/footer";

.main {
  flex-grow: 1;
  &__container {
    padding: 20px 40px;
    @media (max-width: $laptop-l) {
      padding-inline: 20px;
    }
  }
}
