/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.dark-theme {
  --font-color: white;
  --bg-color: #b0a565;
  --gray-one-color: #303030;
  --gray-two-color: #535353;
  --gray-three-color: #7d7d7d;
  --orange-color: #ff9b0a;
}

.light-theme {
  --font-color: black;
  --bg-color: #f7f3d1;
  --gray-one-color: #f4f4f4;
  --gray-two-color: #d8d8d8;
  --gray-three-color: #aeaeae;
  --orange-color: #ffac1b;
}

.active-operation-btn {
  color: var(--orange-color) !important;
  background-color: var(--font-color) !important;
}

/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.dark-theme {
  --font-color: white;
  --bg-color: #b0a565;
  --gray-one-color: #303030;
  --gray-two-color: #535353;
  --gray-three-color: #7d7d7d;
  --orange-color: #ff9b0a;
}

.light-theme {
  --font-color: black;
  --bg-color: #f7f3d1;
  --gray-one-color: #f4f4f4;
  --gray-two-color: #d8d8d8;
  --gray-three-color: #aeaeae;
  --orange-color: #ffac1b;
}

.active-operation-btn {
  color: var(--orange-color) !important;
  background-color: var(--font-color) !important;
}

.header {
  background-color: #181818;
}
.header__container {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__container {
    padding-inline: 20px;
  }
}
.header__container .header__headline {
  padding: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: white;
}
@media (max-width: 1024px) {
  .header__container .header__headline {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (max-width: 864px) {
  .header__container .header__headline {
    font-size: 32px;
    line-height: 32px;
  }
}
.header__container .header__theme-wrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.header__container .header__theme-icon {
  width: 50px;
  height: 50px;
}

.theme-switch {
  position: relative;
  width: 60px;
  height: 34px;
}
.theme-switch .theme-switch__input {
  display: none;
}
.theme-switch .theme-switch__input:checked + .theme-switch__slider {
  background-color: #2b2b2b;
}
.theme-switch .theme-switch__input:checked + .theme-switch__slider:before {
  transform: translateX(26px);
}
.theme-switch .theme-switch__slider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}
.theme-switch .theme-switch__slider:before {
  content: "";
  height: 26px;
  width: 26px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.dark-theme {
  --font-color: white;
  --bg-color: #b0a565;
  --gray-one-color: #303030;
  --gray-two-color: #535353;
  --gray-three-color: #7d7d7d;
  --orange-color: #ff9b0a;
}

.light-theme {
  --font-color: black;
  --bg-color: #f7f3d1;
  --gray-one-color: #f4f4f4;
  --gray-two-color: #d8d8d8;
  --gray-three-color: #aeaeae;
  --orange-color: #ffac1b;
}

.active-operation-btn {
  color: var(--orange-color) !important;
  background-color: var(--font-color) !important;
}

.footer {
  background-color: #181818;
}
.footer__container {
  padding: 40px 20px;
}
.footer__container .footer__git-link-wrapper {
  max-width: 280px;
  margin: 0 auto;
  transition: 0.3s;
}
.footer__container .footer__git-link-wrapper:hover {
  transform: scale(1.1);
}
.footer__container .footer__git-link-wrapper:hover > .footer__git-link > .footer__git-text {
  color: #ffec8b;
}
.footer__container .footer__git-link-wrapper .footer__git-link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
}
.footer__container .footer__git-link-wrapper .footer__git-link .footer__git-img {
  width: 30px;
  height: 30px;
}
.footer__container .footer__git-link-wrapper .footer__git-link .footer__git-text {
  transition: 0.3s;
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: white;
}
@media (max-width: 864px) {
  .footer__container .footer__git-link-wrapper .footer__git-link .footer__git-text {
    font-size: 16px;
    line-height: 16px;
  }
}

.calculator {
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  background-color: var(--gray-one-color);
  border-radius: 20px;
  box-shadow: 0 0 20px black;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "value        value         value     value" "clean        sign-change   percent   division" "seven        eight         nine      mult" "four         five          six       minus" "one          two           three     plus" "null-digit   null-digit    comma     calc";
}
.calculator__value {
  border-radius: 10px 10px 0 0;
  grid-area: value;
  padding: 10px 20px;
  font-family: "Roboto";
  font-size: 56px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--font-color);
  align-self: center;
  text-align: end;
}
@media (max-width: 480px) {
  .calculator__value {
    padding: 8px 10px;
    font-size: 42px;
  }
}
.calculator .spec-operation-btn {
  background-color: var(--gray-two-color);
}
.calculator .basic-operation-btn {
  background-color: var(--orange-color);
}
.calculator .digit-btn {
  background-color: var(--gray-three-color);
}
.calculator__clean-btn {
  grid-area: clean;
}
.calculator__sign-change-btn {
  grid-area: sign-change;
}
.calculator__percent-btn {
  grid-area: percent;
}
.calculator__division-btn {
  grid-area: division;
}
.calculator__seven-btn {
  grid-area: seven;
}
.calculator__eight-btn {
  grid-area: eight;
}
.calculator__nine-btn {
  grid-area: nine;
}
.calculator__mult-btn {
  grid-area: mult;
}
.calculator__four-btn {
  grid-area: four;
}
.calculator__five-btn {
  grid-area: five;
}
.calculator__six-btn {
  grid-area: six;
}
.calculator__minus-btn {
  grid-area: minus;
}
.calculator__one-btn {
  grid-area: one;
}
.calculator__two-btn {
  grid-area: two;
}
.calculator__three-btn {
  grid-area: three;
}
.calculator__plus-btn {
  grid-area: plus;
}
.calculator__null-btn {
  grid-area: null-digit;
  border-radius: 0 0 0 10px;
}
.calculator__comma-btn {
  grid-area: comma;
}
.calculator__calc-btn {
  grid-area: calc;
  border-radius: 0 0 10px 0;
}
.calculator button {
  font-family: "Roboto";
  font-size: 42px;
  color: var(--font-color);
  border: 1px solid black;
  cursor: pointer;
  transition: 0.3s;
}
.calculator button:hover {
  filter: brightness(120%);
}
@media (max-width: 480px) {
  .calculator button {
    font-size: 36px;
  }
}

.main {
  flex-grow: 1;
  display: flex;
  background-color: var(--bg-color);
}
.main__container {
  padding: 20px 40px;
  flex-grow: 1;
}
@media (max-width: 1024px) {
  .main__container {
    padding-inline: 20px;
  }
}/*# sourceMappingURL=main.css.map */