@import "../global/vars";
@import "../global/template";
@import "../global/header";
@import "../global/footer";

.calculator {
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  background-color: $color-dark-gray;
  border-radius: 20px;
  box-shadow: 0 0 20px black;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "value        value         value     value"
    "clean        sign-change   percent   division"
    "seven        eight         nine      mult"
    "four         five          six       minus"
    "one          two           three     plus"
    "null-digit   null-digit    comma     calc";
  &__value {
    border-radius: 10px 10px 0 0;
    grid-area: value;
    padding: 10px 20px;
    font-family: "Roboto";
    font-size: 56px;
    color: $color-text-light;
    align-self: center;
    text-align: end;
    @media (max-width: $phone-l) {
      padding: 8px 10px;
      font-size: 42px;
    }
  }
  &__clean {
    grid-area: clean;
    background-color: $color-gray;
  }
  &__sign-change-btn {
    grid-area: sign-change;
    background-color: $color-gray;
  }
  &__percent-btn {
    grid-area: percent;
    background-color: $color-gray;
  }
  &__division-btn {
    grid-area: division;
    background-color: $color-orange;
  }
  &__seven-btn {
    grid-area: seven;
    background-color: $color-light-gray;
  }
  &__eight-btn {
    grid-area: eight;
    background-color: $color-light-gray;
  }
  &__nine-btn {
    grid-area: nine;
    background-color: $color-light-gray;
  }
  &__mult-btn {
    grid-area: mult;
    background-color: $color-orange;
  }
  &__four-btn {
    grid-area: four;
    background-color: $color-light-gray;
  }
  &__five-btn {
    grid-area: five;
    background-color: $color-light-gray;
  }
  &__six-btn {
    grid-area: six;
    background-color: $color-light-gray;
  }
  &__minus-btn {
    grid-area: minus;
    background-color: $color-orange;
  }
  &__one-btn {
    grid-area: one;
    background-color: $color-light-gray;
  }
  &__two-btn {
    grid-area: two;
    background-color: $color-light-gray;
  }
  &__three-btn {
    grid-area: three;
    background-color: $color-light-gray;
  }
  &__plus-btn {
    grid-area: plus;
    background-color: $color-orange;
  }
  &__null-btn {
    grid-area: null-digit;
    background-color: $color-light-gray;
    border-radius: 0 0 0 10px;
  }
  &__comma-btn {
    grid-area: comma;
    background-color: $color-light-gray;
  }
  &__calc-btn {
    grid-area: calc;
    background-color: $color-orange;
    border-radius: 0 0 10px 0;
  }
  button {
    font-family: "Roboto";
    font-size: 42px;
    color: $color-text-light;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      filter: brightness(120%);
    }
    @media (max-width: $phone-l) {
      font-size: 36px;
    }
  }
}

.main {
  flex-grow: 1;
  display: flex;
  background-color: $color-bg-dark-yellow;
  &__container {
    padding: 20px 40px;
    flex-grow: 1;
    @media (max-width: $laptop-l) {
      padding-inline: 20px;
    }
  }
}
