/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #181818;
}
.header__container {
  padding: 20px 40px;
  display: flex;
}
@media (max-width: 1024px) {
  .header__container {
    padding-inline: 20px;
  }
}
.header__container .header__headline {
  padding: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: white;
}
@media (max-width: 1024px) {
  .header__container .header__headline {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (max-width: 864px) {
  .header__container .header__headline {
    font-size: 32px;
    line-height: 32px;
  }
}

/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("Roboto"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #181818;
}
.footer__container {
  padding: 40px 20px;
}
.footer__container .footer__git-link-wrapper {
  max-width: 280px;
  margin: 0 auto;
  transition: 0.3s;
}
.footer__container .footer__git-link-wrapper:hover {
  transform: scale(1.1);
}
.footer__container .footer__git-link-wrapper:hover > .footer__git-link > .footer__git-text {
  color: #ffec8b;
}
.footer__container .footer__git-link-wrapper .footer__git-link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
}
.footer__container .footer__git-link-wrapper .footer__git-link .footer__git-img {
  width: 30px;
  height: 30px;
}
.footer__container .footer__git-link-wrapper .footer__git-link .footer__git-text {
  transition: 0.3s;
  padding: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: white;
}
@media (max-width: 864px) {
  .footer__container .footer__git-link-wrapper .footer__git-link .footer__git-text {
    font-size: 16px;
    line-height: 16px;
  }
}

.calculator {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "value        value         value     value" "clean        sign-change   percent   division" "seven        eight         nine      mult" "four         five          six       minus" "one          two           three     plus" "null-digit   null-digit    comma     calc";
  background-color: gainsboro;
}
.calculator__value {
  grid-area: value;
  padding: 8px;
  font-family: "Roboto";
  font-size: 56px;
  align-self: center;
  text-align: end;
}
.calculator__clean {
  grid-area: clean;
}
.calculator__sign-change-btn {
  grid-area: sign-change;
}
.calculator__percent-btn {
  grid-area: percent;
}
.calculator__division-btn {
  grid-area: division;
}
.calculator__seven-btn {
  grid-area: seven;
}
.calculator__eight-btn {
  grid-area: eight;
}
.calculator__nine-btn {
  grid-area: nine;
}
.calculator__mult-btn {
  grid-area: mult;
}
.calculator__four-btn {
  grid-area: four;
}
.calculator__five-btn {
  grid-area: five;
}
.calculator__six-btn {
  grid-area: six;
}
.calculator__minus-btn {
  grid-area: minus;
}
.calculator__one-btn {
  grid-area: one;
}
.calculator__two-btn {
  grid-area: two;
}
.calculator__three-btn {
  grid-area: three;
}
.calculator__plus-btn {
  grid-area: plus;
}
.calculator__null-btn {
  grid-area: null-digit;
}
.calculator__comma-btn {
  grid-area: comma;
}
.calculator__calc-btn {
  grid-area: calc;
}
.calculator button {
  font-family: "Roboto";
  font-size: 36px;
}

.main {
  flex-grow: 1;
  display: flex;
}
.main__container {
  padding: 20px 40px;
  flex-grow: 1;
}
@media (max-width: 1024px) {
  .main__container {
    padding-inline: 20px;
  }
}/*# sourceMappingURL=main.css.map */